<section class="section">
  <div class="container">
    <span class="title">Place Order</span>
    <div class="place-order-wrapper">
      <div class="form-content">
        <form (ngSubmit)="addItem(addOrederItemForm.value)" #addOrederItemForm="ngForm">
          <div class="box">
            <div class="field">
              <label class="label">Item Id</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select [(ngModel)]="selectedItem" name="select_item">
                    <option>Select</option>
                    <option *ngFor="let item of itemList" [ngValue]="item">{{ item.item_id }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" readonly [value]="selectedItem?.name">
              </div>
            </div>
            <div class="field">
              <label class="label">Unit Price</label>
              <div class="control">
                <input class="input" type="number" readonly [value]="selectedItem?.unit_price">
              </div>
            </div>
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input" type="number" name="qty" [ngModel]="orderQuantity" (ngModelChange)="onChangeQuantity($event)">
              </div>
            </div>
            <div class="field">
              <label class="label">Total</label>
              <div class="control">
                <input class="input" type="number" readonly [value]="itemTotal">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary">Add</button>
              </div>
              <div class="control">
                <button type="button" class="button">Clear</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="table-content">
        <app-list-order-items [orderItemList]="orderItemList"></app-list-order-items>
        <button *ngIf="orderItemList.length > 0" class="button is-primary is-pulled-right" (click)="proceedToPlaceOrder()">Proceed</button>
      </div>
    </div>
  </div>
</section>

