<table class="table is-bordered is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th><abbr title="Item ID">Item ID</abbr></th>
    <th colspan="2">Name</th>
    <th><abbr title="Unit Price">Price</abbr></th>
    <th><abbr title="Quantity">Quantity</abbr></th>
    <th><abbr title="Total">Total</abbr></th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngIf="orderItemList.length > 0">
    <tr *ngFor="let orderItem of orderItemList; index as i">
      <td>{{ orderItem.itemId }}</td>
      <td colspan="2">{{ orderItem.name }}</td>
      <td>{{ orderItem.unitPrice }}</td>
      <td>{{ orderItem.quantity }}</td>
      <td>{{ orderItem.total }}</td>
      <td><span class="delete" (click)="onClickDelete(i)"></span></td>
    </tr>
  </tbody>
  <tbody *ngIf="orderItemList.length === 0">
    <tr>
      <td colspan="7">No Items</td>
    </tr>
  </tbody>
  <tfoot>
  <th colspan="5" class="has-text-right">Sub Total</th>
  <th colspan="2">{{ subTotal }}</th>
  </tfoot>
</table>

<div class="modal" [class.is-active]="isModalActive">
  <div class="modal-card">
    <header class="modal-card-head">
      <button class="delete" aria-label="close" (click)="isModalActive = false"></button>
    </header>
    <section class="modal-card-body">
      Confirm delete?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirmDelete()">Yes</button>
      <button class="button" (click)="isModalActive = false">No</button>
    </footer>
  </div>
</div>
