<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="../assets/logo/logo.png" height="200" alt="">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/posts/new">My Cart</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Customers
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/customers/new">Add Customer</a>
          </div>
        </a>
        <a class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Orders
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/orders/new">Place Order</a>
          </div>
        </a>
        <a class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Items
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/items/new">Create Item</a>
          </div>
        </a>
        <a class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Invoices
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/invoices/new">Upload Invoice</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
