<section class="section">
  <div class="container">
    <span class="title">Add Customer</span>
    <div class="form-content">
      <form (ngSubmit)="addCustomer()" [formGroup]="customerForm">
        <div class="box">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" formControlName="name">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" formControlName="email">
            </div>
          </div>
          <div class="field">
            <label class="label">Contact Number</label>
            <div class="control">
              <input class="input" type="text" formControlName="contactNumber">
            </div>
          </div>
          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <textarea class="textarea" formControlName="address"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">Add Customer</button>
            </div>
            <div class="control">
              <a type="button" class="button" (click)="reset()">Clear</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

