<section class="section">
  <div class="container">
    <span class="title">Add Invoice</span>
    <div class="form-content">
      <div *ngIf="isUploadSuccess" class="notification is-success">
        <span><i class="fas fa-check"></i></span> Invoice has been uploaded successfully <a href="/invoices/{{uploadedInvoice.file_name}}" target="_blank">view file</a>
      </div>
      <form>
        <div class="file has-name">
          <label class="file-label">
            <input class="file-input" accept="image/jpeg, application/pdf" name="invoice" type="file" (change)="onFileChanged($event)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">{{ selectedInvoice?.name }}</span>
          </label>
        </div>
        <a class="button is-medium" [class.is-loading]="isLoading" (click)="onUpload()">Upload</a>
      </form>
    </div>
  </div>
</section>

