<section class="section">
  <div class="container">
    <span class="title">Add Item</span>
    <div class="form-content">
      <form (ngSubmit)="addItem()" [formGroup]="lineItemForm">
        <div class="box">
          <div class="field">
            <label class="label">Item Name</label>
            <div class="control">
              <input class="input" type="text" formControlName="name">
            </div>
          </div>
          <div class="field">
            <label class="label">Unit Price</label>
            <div class="control">
              <input class="input" type="number" formControlName="unitPrice">
            </div>
          </div>
          <div class="field">
            <label class="label">Quantity</label>
            <div class="control">
              <input class="input" type="number" formControlName="quantity">
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" formControlName="description"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">Add Item</button>
            </div>
            <div class="control">
              <a type="button" class="button" (click)="reset()">Clear</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
