@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700');
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$family-serif: 'Roboto', sans-serif;
$family-primary: $family-serif;

$yellow: purple;
$primary: $yellow;
$table-row-hover-background-color : #f2f2f2;

@import "../node_modules/bulma/sass/utilities/derived-variables";
@import "../node_modules/bulma/sass/utilities/animations";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/utilities/controls";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";


.box {
  border-radius: 2px;
  background: whitesmoke;
}

.notification {
  border-radius: 2px;
}

.input, .textarea, .button {
  box-shadow: none;
  border-radius: 2px;
}

.title {
  display: inline-block;
  margin: 1rem;
}
