<section class="section">
    <div class="container">
      <span class="title">Place Order</span>
      <div class="place-order-wrapper">
        <div class="form-content box">
          <div class="field customer-field">
            <label class="label">Search Customer</label>
            <div class="control" [class.is-loading]="isProcessing">
              <input class="input" type="text" placeholder="Customer id or name (Try 'cus..')" (keyup)=searchCustomer($event)>
            </div>
            <div class="given-cust-list" *ngIf="showCustomerList">
              <span class="cust_opt" (click)="selectCustomer(customer)" *ngFor="let customer of listOfGivenCustomers">{{ customer.customer_id + ' - ' + customer.name }}</span>
            </div>
          </div>
          <div class="field">
            <label class="label">Customer Id</label>
            <div class="control">
              <input class="input" type="text" readonly [value]="selectedCustomer?.customer_id">
            </div>
          </div>
          <div class="field">
            <label class="label">Customer Name</label>
            <div class="control">
              <input class="input" type="text" readonly [value]="selectedCustomer?.name">
            </div>
          </div>
          <div class="field">
            <label class="label">Shipping Address</label>
            <div class="control">
              <textarea class="textarea" [(ngModel)]="shippingAddress" name="shippingAddress"></textarea>
            </div>
          </div>
        </div>
        <div class="table-content">
          <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Item ID</th>
              <th colspan="2">Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItem of orderItemList; index as i">
              <td>{{ orderItem.itemId }}</td>
              <td colspan="2">{{ orderItem.name }}</td>
              <td>{{ orderItem.unitPrice }}</td>
              <td>{{ orderItem.quantity }}</td>
              <td>{{ orderItem.total }}</td>
            </tr>
            </tbody>
            <tfoot>
            <th colspan="5" class="has-text-right">Grand Total</th>
            <th colspan="2">{{ grandTotal }}</th>
            </tfoot>
          </table>
          <div class="is-grouped is-pulled-right action-buttons">
            <button class="button" routerLink="/orders/new">Back to Cart</button>
            <button class="button is-primary" (click)="placeOrder()">Order Now</button>
          </div>
        </div>
      </div>
    </div>
</section>
