.place-order-wrapper {
  display: flex;
}

.form-content {
  flex-basis: 300px;
}

.table-content {
  margin-left: 1rem;
  flex-grow: 1;
}

.action-buttons {
  .button {
    margin-left: 0.5rem;
  }
}

.customer-field {
  position: relative;
}

.given-cust-list {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: whitesmoke;
  border: 1px solid #7d7d7d;
  .cust_opt {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: wheat;
    }
  }
}
